{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} ::
        Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">

</head>
<body>
<header>
    <h1>Объявления</h1>
</header>
<nav>
    <a href="{% url 'admin:index' %}">Админка</a>
    {# здесь index обозначает то что попадаем на главную страницу АДМИНКИ #}
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'add_rubric' %}">Добавить рубрику</a>
    <a href="{% url 'add' %}">Добавить объявление</a>
    {% for rubric in rubrics %}
        {#        здесь взяли рубрику и применил функцию из нашей модели#}
        <a href='{{ rubric.get_absolute_url }}'>{{ rubric.name }}</a>
        {#        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>#}
    {% endfor %}
</nav>
<section>
    {% block content %}
    {% endblock %}
</section>
</body>
</html>